<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableView的索引合并伸缩选择.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B76F26D1E56DC1D0012304C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B76F2861E56DC1D0012304C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B76F2911E56DC1D0012304C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
